# Ignore macOS system files
.DS_Store

# Ignore Python virtual environments
myenv/
venv/

# Ignore other common files and directories
*.log
*.pyc
__pycache__/
*.swp
*.swo
.env

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore airflow_logs
airflow/airflow_logs/*

# Allow .gitkeep
!airflow/airflow_logs/.gitkeep

# Ignore .env
.env

# Ignore test output
scrapy/nba_stats/nba_stats/spiders/outputs
